.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(195, 0, 255);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Firstcomponent{
  background-color: blueviolet;
}
.Secondcomponent{
  background-color: green;
}
.Contactuscomponent{
  background-color: blue;
}
.Aboutcomponent{
  background-color: orange;
}
.Thirdcomponent{
  background-color: blueviolet;
  color: burlywood;
}
.Notfound{
  font-size: 45px;
  color: red;
  font-weight: 900;
}
.nav{
  background-color: greenyellow;
  padding: 20px;
}

.navlinks{
  margin: 10px;
  text-decoration: none;
  font-size: 25px;
  background-color: brown;
  padding: 8px;
  border-radius: 10px;
  font-weight: 500;

}
.navlinks:hover{
  background-color: cadetblue;
  color: chartreuse;
}